
<% content_for :title do %>
    <%= @entry.meal_type %> &ndash; <%= DateTime.now.strftime("%B %e, %Y") %>
<% end %>

    <nav class="panel is-link">
      <p class="panel-heading">
        <%= @entry.meal_type %>
      </p>
      <div class="panel-block">
        Calories :<%= entry.calories %>
      </div>
      <div class="panel-block">
        Proteins :<%= entry.proteins %>
      </div>
      <div class="panel-block">
        Carbohydrates :<%= entry.carbohydrates %>
      </div>
      <div class="panel-block">
        Fats :<%= entry.fats %>
      </div>
    </nav>
